/* Define theme colors of the website, there will be no light theme */
:root {
  --color-background: #121314;
  --color-panel: #1e1e1e;
  --color-panel-light: #272727;
  --color-text: #fffef4;
}